.signUp{
    max-width: 600px;
}
.signUpbody{
    display: block;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.signUpbody .login_form select.form-control {
   
    height: 42px;
    /* padding: 5px 25px 5px 25px; */
}
.signUpbody .btn.imgInp{
    line-height: 24px;
}
body input[type=text]{
  
    text-transform: capitalize;
}
.italic{
  font-style: italic;
}